body {
  display: flex;
  justify-content: space around;
  margin: 16px auto;
  padding: 10px;
  background: #dfeafc;
  font-family: "Kanit", sans-serif;
}
header {
  border-bottom: #dfeafc 1px solid;
  padding-bottom: 10px;
}
h1 {
  font-weight: bolder;
  font-size: 44px;
}
p {
  color: #7b9acc;
}
strong {
  color: #c10326;
}
.city-current-weather {
  position: relative;
  top: -10px;
}
.container {
  margin: 60px auto;
  border-radius: 10px;
  padding: 30px;
  background: white;
  max-width: 600px;
}

.search-bar {
  width: 75%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid white;
  font-size: 18px;
  background: #dfeafc;
}
.search-button {
  width: 15%;
  padding: 15px;
  background: #4053e5;
  color: white;
  border: none;
  border-radius: 8px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
}
.current-temperature {
  position: relative;
  top: 20px;
}
.emoji {
  font-size: 40px;
  position: relative;
  top: -10px;
}
.current-temp-value {
  font-size: 75px;
  font-weight: bolder;
}
.temp-unit {
  font-size: 30px;
  position: relative;
  top: -34px;
}
